<div class="background home">
    <form class="artist-search" action="/artist-search" method="GET">
        <input type="text" id="search" name="artist" placeholder="Search for an artist" required>
        <button type="submit" class="buttons">Search</button>
    </form>
</div>


