<!-- Header section -->
    <h1>All Tracks</h1>

<!-- Tracks section -->
<table class="table-tracks">
  <thead>
    <tr>
      <th class="table-cells">Title</th>
      <th class="table-cells">Listen</th>
    </tr>
  </thead>
  <tbody>
    {{#if tracks.length}}
    {{#each tracks}}
    <tr>
      <td class="table-cells">{{this.name}}</td>
      <td class="table-cells"><audio controls>
          <source src="{{this.preview_url}}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio></td>
    </tr>
    {{/each}}
    {{else}}
    <td>No tracks found.</td>
    {{/if}}
  </tbody>
</table>

    